index.html filter=lfs diff=lfs merge=lfs -text
data-package.json filter=lfs diff=lfs merge=lfs -text
data/data-package.json filter=lfs diff=lfs merge=lfs -text
public/data/data-package.embedded.json filter=lfs diff=lfs merge=lfs -text
